secrets = {
  "hermes/dev/cloudflare_token" = {
    value       = "change-me"
    type        = "SecureString"
    description = "Cloudflare Tunnel Token for Hermes Dev"
  },
  "hermes/dev/ui_password" = {
    value       = "change-me"
    type        = "SecureString"
    description = "UI Password for Hermes Dev"
  }
}
